.addevent-form-conatiner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  
}

.event-part-1, .event-part-2{
    display: flex;
    flex-direction: column;
   
    /* gap: 40px; */
    margin-right: 160px;

}

.form-container-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.event-part-1 input, .event-part-2 input{

    border: 1px solid rgb(214, 204, 204);
    width: 190px;
    height: 30px;
    outline: none;

}
.event-part-1 div, .event-part-2 div{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.event-part-1 div label, .event-part-2 div label{
font-size: 14px;
font-weight: 700;
color: gray;
}

.submitbutton{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 20px;


}
.submitbutton button{
    background-color: #339AF0;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}
.event-part-1 textarea{

    border: 1px solid rgb(214, 204, 204);
    outline: none;
}