.event-card{
    display: flex;
    /* justify-content: center; */
    width: 400px;
    border: 4px solid whitesmoke;
    border-radius: 10px;
    padding: 20px;
   
}
.event-description{
  
    width: 100%;
    margin-top: -20px;
    margin-left: 20px;
}
.cancel-btn {
display: flex;
justify-content: flex-end;
margin-top: 10px;
}

.event-card-img-container img{
    margin-top: 0px;
    border-radius:10px;
    width: 150px;
    height: 100px;

}
.event-title{
    font-size: 16px;
    font-weight: 600;
}

.date{
    font-size: 13px;
    font-weight: 600;
}

.cancel-btn button{

    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

}