.user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    /* font-weight: 700;
    margin-right: 50px;
    margin-left: 30px; */
}

.user-container p{
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    
}

.delete-btn{
    margin-right: 50px;
    cursor: pointer;
}
.delete-btn i{
    color: red;


}
.user-container p{
   

}

tr{
   gap: 50px;
}
tr td{
   
    width: 500px;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    /* text-align: center; */
}